:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
}
.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .playfair-display {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

  .hero {
    background: var(--secondary-color);
    text-align: center;
    padding: 160px 20px;
  }

  .hero p {
    font-size: 36px;
    margin: 0;
    color: #272142;
  }

  .hero h1 {
    font-size: 96px;
  }

  .hero h2 {
    font-size: 24px;
    line-height: 2;
  }

  .btn-branding {
    background: var(--branding-color);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
  }
